@import "~bootstrap/scss/bootstrap.scss";

.box{
    margin: auto; 
    margin-top: 100px;
    background-color: rgb(67, 60, 83);
    width: 400px;
    min-height: 500px;
    text-align: center;

    
}

.list-container{
    display: inline-flexbox;
    flex-direction: row;
    margin: auto;
    width: 390px;
    
}

.list-box{
   
    margin: 1px;
    padding: 1px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
    
}
ul{
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
}
li{
    width: 350px;
    margin: 2px;
    padding: 5px;
   background-color: white;
    
    
}
.button1{
    background-color: rgb(136, 89, 194);
    border-radius: 15px;
   
    
}
.button2{
    border-radius: 15px;
    background-color: rgb(225, 243, 193);
}
